id="req1"
langchain
langchain-community
langchain-huggingface
pypdf
python-dotenv
rank-bm25
sentence-transformers
transformers
huggingface_hub
faiss-cpu
groq
streamlit
fastapi
uvicorn
python-multipart
pydantic